@charset "UTF-8";

.App {
  text-align: center;
  overflow: hidden;
}

.slider {
	max-width: 100vw;
	max-height: 100vh;
	&__img {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}

.slick-next {
	right: 35px;
}

.slick-prev {
	z-index: 1;
	left: 35px;
}
