@charset "UTF-8";

.shortcuts {
	position: absolute;
	display: flex;
	z-index: 1;
	top: 170px;
	right: 0;
	margin-right: 10px;

	& a {
		font-family: $alarmClockFont;
		text-transform: uppercase;
		font-weight: bold;
		color: $widgetFontColor;
	}

	& ul {
		background-color: $widgetBgColor;
		list-style: none;
		padding: 5px 5px 5px 0px;
	}

	&__one ul {
		padding: 5px;
	}
}

.logo:hover {
    animation: logoHover 1s linear;
}

@keyframes logoHover {
    0% {
        transform: rotate3d(.2, 0, 0, 12deg);

    }
    10% {
        transform: rotate3d(.4, 0, 0, 24deg);
    }
    20% {
        transform: rotate3d(.6, 0, 0, 36deg);
    }
    30% {
        transform: rotate3d(.8, 0, 0, 48deg);
    }

    40% {
        transform: rotate3d(1, 0, 0, 60deg);
    }

    50% {
        transform: rotate3d(.8, 0, 0, 48deg);
    }
    60% {
        transform: rotate3d(.6, 0, 0, 36deg);
    }
    70% {
        transform: rotate3d(.4, 0, 0, 24deg);
    }
    80% {
        transform: rotate3d(.2, 0, 0, 12deg);
    }
    90% {
        transform: rotate3d(.2, 0, 0, 12deg);
    }
    100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@media screen and (max-width: 750px) {
	.shortcuts {
		display: none;
	}
}