@charset "UTF-8";
body {
	height: 100vh;
}
.SliderSettings {
	position: absolute;
	z-index: 1;

	text-align: center;
	width: 100%;
	max-width: $max-width;
	padding: 10px;
	margin-bottom: 10px;

	&__fieldset {
		padding: 5px;
		margin-bottom: 10px;
		border-radius: $border-radius-Xlarge;
	}

	&__label {
		display: block;
	}

	&__select-div {
		margin: 5px auto 5px auto;
		border: 1px solid black;
		width: 280px;
		border-radius: $border-radius-Xlarge;
		overflow: hidden;
		background: $background-color1 url("../icons/arrow-dropdown.svg") no-repeat 90% 50%;
	}

	&__select {
		font-size: $default-font-size;
  		font-family: $defaultFont;

		padding: 5px 8px;
		width: 100%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}

	&__select:focus {
		outline: none;
		background: $grey url("../icons/arrow-dropdown.svg") no-repeat 90% 50%;
	}

	&__select:hover {
		outline: none;
		background: $grey url("../icons/arrow-dropdown.svg") no-repeat 90% 50%;
		cursor: pointer;
	}
}

.QLsettings {
	position: absolute;
	z-index: 1;
	top: 260px;

	text-align: center;
	width: 100%;
	max-width: $max-width;
	padding: 10px;

	&__fieldset {
		padding: 5px;
		border-radius: $border-radius-Xlarge;
	}

	&__label {
		display: block;
	}

	&__select-div {
		margin: 5px auto 5px auto;
		border: 1px solid black;
		width: 80%;
		border-radius: $border-radius-large;
		overflow: hidden;
		background: $background-color1;
	}

	&__select {
		font-size: $default-font-size;
  		font-family: $defaultFont;

		padding: 10px 40px;
		width: 98%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}

	&__select option {
		width: 150px;
	}

	&__select:focus {
		outline: none;
	}

	&__select option:hover {
		outline: none;
		background: $grey;
		cursor: pointer;
	}
}

@media screen and (min-width: 750px) {
	.SliderSettings {
		left: 50%;
		transform: translateX(-50%);
	}

	.QLsettings {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 750px) {
	.QLsettings {
		display: none;
	}
}