@charset "UTF-8";
/*Colors */

$background-color1: rgba(233,233,233,1);
$background-color2: rgba(255,255,255,1);
$hero-color1: rgba(9,3,125, 1);
$hero-color2: rgba(28,53,175,1);

/*Font*/
$default-font-size: 1.5rem;
$big-font-size: 1.75rem;

/*border radius*/
$border-radius-small: 6px;
$border-radius-large: 10px;

/*max width*/
$max-width: 100rem;