

.weather {

	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	background-color: $widgetBgColor;
	font-family: $alarmClockFont;
	color: $widgetFontColor;
	text-transform: uppercase;
	padding: 10px 0 0 10px;

	// border-radius: $border-radius-Xlarge;
	font-size: $XL-font-size;
	font-weight: bold;

	&__icon-box {
		display: flex;
	}

	&__icon-desc {
		width: 50%;
		padding-top: 20px;
  		padding-bottom: 20px;
	}

	&__icon {
		width: 50%;
		margin: auto;

	}

	&__btn {
		display: block;
		margin: 5px auto;

		border-radius: 20px;
        width: 50%;
        border: none;
        padding: 5px;
	}
	&__btn:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

@media screen and (min-width: 750px) {
	.weather {
		&__icon-desc{
			width: 20%;
		}

		&__icon {
			margin: 0 auto 0 0;
		}

		&__btn {
            width: 20%;
    	}

	}
}